@media screen and (min-width: 1024px) {

    .home-more-container {
        display: flex;
        height: 100vh;
        padding-top: 9em;
    }

    .home-more-title {
        display: none;    
    }

    .home-more-gen-container {
        display: flex;
        flex-direction: column;
        width: 33%;
    }

    .home-more-projects-container {
        box-sizing: border-box;
        margin-left: 4em;
        width: 60%;
    }

    .home-more-gen-container > p {
        text-align: justify;
        margin-bottom: 2em;
    }

    .home-more-gen-container > a {
        background: none;
        border: none;
        outline: none;
        text-decoration: none;
        box-sizing: border-box;
        width: fit-content;
        padding: 1em 2em; 
        background-color: #C26D30;
        font-weight: bold;
        color: #2A2438;
    }

}