.details-link {
    background: none;
    outline: none;
    border: none;
    width: fit-content;
    font-size: 1em;
    font-weight: bold;
    color: #C26D30;
    text-decoration: none;;
    padding: 0;
}

.details-link > img {
    width: 1em;
    margin-left: 0.3em;
}