.os-container {
    margin-left: 12em;
    text-align: justify;
}

.os-container > h1 {
    font-size: 3em;
}

.os-container > .chapter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
}

.os-container > .chapter > .content {
    margin-right: 2em;
    width: 60%;
}

.os-container > .chapter > .content > * {
    margin-bottom: 2em;
}

.os-container > .chapter > .content > p > a {
    text-decoration: none;
    color: #C5BDD8;
    margin-left: 0.5em;
}

.os-container > .chapter > .content > .mm {
    display: flex;
}

.os-container > .chapter > .content > .mm > img {
    height: 15em;
    margin-right: 3em;
}

.os-container > .chapter > .content > .mm > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.os-container > .chapter > .content > .mm > div >  * {
    margin-bottom: 2em;
}

.os-container > .chapter > .content > .mm > div > p > a {
    text-decoration: none;
    color: #C5BDD8;
    margin-left: 0.5em;
}
