@media screen and (max-width: 1024px) {

    .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .intro-hi {
        font-size: 1em;
    }

    .intro-name {
        font-size: 5em;
        font-weight: bold;
    }

    .intro-tags {
        color: #C26D30;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0.5em 0;
    }

    .intro-description {
        font-size: 1em;
        margin-top: 1em;
        max-width: 35em;
    }

    .intro-scroll {
        display: none;
    }

    .intro-scroll-text {
        display: none;
    }

}